.ShinyLink {
  cursor: pointer;
  position: relative;
}
.ShinyLink::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  background: #FFF;
  transform: scaleX(0);
  opacity: 0;
  transform-origin: 0 0;
  transition: 0.3s;
}
.ShinyLink:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

.ShinyLink.-multicolor::after {
  animation: change-background-color 28s infinite;
  animation-direction: alternate;
}