.BirdsPage_subtitle {
  text-align: center;
  font-family: Domine, Verdana, Tahoma, Geneva, serif;
  margin-top: -10px;
  font-style: italic;
}


.BirdsPage_catchphrase {
  text-align: center;
  font-size: 18px;
  margin: 30px 0 70px;
}

.BirdsPage_audio {
  width: 100%;
}

.BirdsPage_popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
}

.BirdsPage_popup_close {
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px white solid;
  margin-bottom: 10px;
  transition: background-color 200ms;
  background-color: rgba(50,50,50,0.6)
}
.BirdsPage_popup_close:hover {
  background-color: rgba(50,50,50,1)
}

.BirdsPage_popup_iframe {
  width: 1280px;
  height: 720px;
  max-width: 90vw;
  max-height: 80vh;
}
@media(max-width: 540px) {
  .BirdsPage_popup_iframe {
    max-height: 40vh;
  }
}

.BirdsPage_button {
  position: relative;
}


.BirdsPage_button_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: rgba(0,0,0,0.6);
  transition: opacity 200ms;
}
.BirdsPage_button_hover:hover {
  opacity: 1;
}

.BirdsPage .card-title {
  font-size: 21px;
  font-weight: bold;
}

.BirdsPage .card-body,.BirdsPage .card-footer {
  font-size: 15px;
}

.BirdsPage_footer {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.BirdsPage svg {
  animation: change-fill-color 28s infinite alternate;
  margin-right: 10px;
}

.BirdsPage_footer .ShinyLink::after {
  left: 40px;
  width: 80%;
}

.BirdsPage_interest {
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding: 50px 20px 20px;
}

.BirdsPage_interest_title {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 12px;
  padding: 0px;
  margin-top: 0px;
  font-family: Domine, Verdana, Tahoma, Geneva, serif;
}

.BirdsPage_interest_phrase {
  font-size: 17px;
  margin-top: 30px;
}

.BirdsPage_interest_InscriptionButton {
  white-space: nowrap;
  display: inline-block;
  padding: 12px 22px;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid;
  transition: all 0.3s;
  margin-top: 50px;
}

.BirdsPage_interest_InscriptionButton:hover {
  background-color: rgba(255,255,255,0.1);
}
@media(max-width: 540px) {
  .SubmitButton {
    width: 100%;
  }
}
