.UnsubscriptionPage {
  max-width: 600px;
  margin: auto;
  color: #FFF;
  padding: 50px 20px 20px;
  box-sizing: border-box;
}
@media(max-width: 540px) {
  .UnsubscriptionPage {
    margin-bottom: 90px;
  }
}

.UnsubscriptionPage_content {
  min-height: 345px;
}

.UnsubscriptionPage_content_title {
  font-weight: 700;
  text-align: center;
  font-size: 35px;
  margin-bottom: 12px;
  padding: 0px;
  margin-top: 0px;
  font-family: Domine, Verdana, Tahoma, Geneva, serif;
}

.UnsubscriptionPage_content_subtitle {
  font-weight: 300;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  font-family: Domine, Verdana, Tahoma, Geneva, serif;
  margin-bottom: 40px;
}

.UnsubscriptionPage_content_phrase {
  font-size: 17px;
  text-align: center;
}

.UnsubscriptionPage_content_list {
  font-weight: bold;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 30px;
}

.UnsubscriptionPage_content_form {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media(min-width: 540px) {
  .UnsubscriptionPage_content_form {
    flex-wrap: wrap;
  }
}

.UnsubscriptionPage_content_form_email {
  font-size: 14px;
  padding: 10px 2%;
  border: 1px solid #e0dbdb;
  animation: change-color 28s infinite alternate;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  font-weight: bold;
}

@media(min-width: 540px) {
  .UnsubscriptionPage_content_form_email {
    flex: 1;
    margin-right: 5%;
  }
}
@media(max-width: 540px) {
  .UnsubscriptionPage_content_form_email {
    min-height: 22px;
    margin-bottom: 10px;
    text-align: center;
  }
}

.UnsubscriptionPage_content_error {
  margin-top: 20px;
  font-weight: 700;
  color: #f9dc6d;
}

.UnsubscriptionPage_instagram {
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
  line-height: 22px;
}

.UnsubscriptionPage_content_success {
  text-align: center;
  line-height: initial;
}

.UnsubscriptionPage_content_success_kiwi {
  margin-top: 40px;
  text-align: center;
}

.UnsubscriptionPage_content_success_kiwi_image {
  width: 100px;
}
