.ListNewsletters_content {
  padding-bottom: 120px;
}

.ListNewsletters_content_header {
  max-width: 700px;
  margin: auto;
  color: #FFF;
  padding: 50px 20px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ListNewsletters_content_header_title {
  font-weight: 700;
  text-align: center;
  font-size: 35px;
  margin-bottom: 12px;
  padding: 0px;
  margin-top: 0px;
  font-family: Domine, Verdana, Tahoma, Geneva, serif;
}

.ListNewsletters_content_header_phrase {
  font-size: 17px;
  text-align: center;
  margin-top: 30px;
}

.ListNewsletters_content_cards{
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:hover{
color: unset;
text-decoration: unset;
}

.card {
border: none !important;
border-radius: none !important;
border-top-left-radius: none !important;
border-top-right-radius: none !important;
}

.card-deck .card {
  margin-bottom: 30px;
}

.card-img-top {
border-top-left-radius: none !important;
border-top-right-radius: none !important;
}

.card-title {
  font-family: Domine, Verdana, Tahoma, Geneva, serif;
  font-size: 20px; 
  animation: change-color 28s infinite;
  animation-direction: alternate;
}

.card-text {
  font-size: 16px;
  font-family: Open Sans, Verdana, Tahoma, Geneva, serif;
  animation: change-color 28s infinite;
  animation-direction: alternate;
}

.card-footer {
  font-family: Domine, Verdana, Tahoma, Geneva, serif;
  background-color: white;
  animation: change-color 28s infinite;
  animation-direction: alternate;
  border-radius: none !important;
}

.small {
  font-size: 14px;
  font-family: Domine, Verdana, Tahoma, Geneva, serif;
}

.ListNewsletters_content_interest {
  max-width: 700px;
  text-align: center;
  margin: auto;
  color: #FFF;
  padding: 50px 20px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ListNewsletters_content_interest_title {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 12px;
  padding: 0px;
  margin-top: 0px;
  font-family: Domine, Verdana, Tahoma, Geneva, serif;
}

.ListNewsletters_content_interest_phrase {
  font-size: 17px;
  margin-top: 30px;
}

.ListNewsletters_content_interest_InscriptionButton {
  white-space: nowrap;
  display: inline-block;
  padding: 12px 22px;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid;
  transition: all 0.3s;
  margin-top: 50px;
}

.ListNewsletters_content_interest_InscriptionButton:hover {
  background-color: rgba(255,255,255,0.1);
}
@media(max-width: 540px) {
  .SubmitButton {
    width: 100%;
}
}

.ListNewsletters_content_interest_InscriptionButton_text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
}