.SubmitButton {
  white-space: nowrap;
  min-height: 50px;
  padding: 0px 22px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  border: 1px;
  background: #ffffff;
  transition: all 0.3s;
}

.SubmitButton_text {
  animation: change-color 28s infinite;
  animation-direction: alternate;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.SubmitButtonPage:hover {
  transform: scale(1.1);
}

@keyframes change-color {
  0% {
    color: rgb(33,175,178);
  }
  25% {
    color: rgb(75,131,191);
  }
  50% {
    color: rgb(212,82,121);
  }
  75% {
    color: rgb(241,162,78);
  }
  100% {
    color: rgb(242,99,99);
  }
}