.PicturesNewsletters {
  max-width: 700px;
}

.PicturesNewsletters_kiwi {
  margin-top: 20px;
  text-align: center;
}

.PicturesNewsletters_kiwi_image {
  width: 100px;
}

.PicturesNewsletters_subtittle {
  font-size: 17px;
  text-align: center;
  margin-top: 25px;
  font-weight: bold;
}

.PicturesNewsletters_phrase {
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
}

.PicturesNewsletters_phrase_email {
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
}

.PicturesNewsletters_success {
  text-align: center;
  line-height: initial;
}

