.PicturesNewsletters {
  max-width: 750px;
  margin: auto;
  color: #FFF;
  padding: 50px 20px 20px;
  box-sizing: border-box;
}
@media(max-width: 540px) {
  .PicturesNewsletters {
    margin-bottom: 90px;
  }
}

.PicturesNewsletters_content {
  min-height: 345px;
}

.PicturesNewsletters_content_title {
  font-weight: 700;
  text-align: center;
  font-size: 35px;
  margin-bottom: 12px;
  padding: 0px;
  margin-top: 0px;
  font-family: Domine, Verdana, Tahoma, Geneva, serif;
}

.PicturesNewsletters_content_kiwi {
  margin-top: 20px;
  text-align: center;
}

.PicturesNewsletters_content_kiwi_image {
  width: 100px;
}

.PicturesNewsletters_content_subtittle {
  font-size: 17px;
  text-align: center;
  margin-top: 25px; 
  font-weight: bold;
}

.PicturesNewsletters_content_phrase {
  font-size: 17px;
  text-align: center;
  margin-top: 10px; 
}

.PicturesNewsletters_content_phrase_email {
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
}

.PicturesNewsletters_content_success {
  text-align: center;
  line-height: initial;
}

